
.card-img-top img {
  border-top-left-radius: calc(.25rem - 1px);
border-top-right-radius: calc(.25rem - 1px);
flex-shrink: 0;
width: 100%;
}

.hidden-image img {
  position: fixed;
  z-index: 9999;
  top: 90px;
  left: 50%;
  height: 85%;
  width: auto;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px black;
}

.card-img-top:hover {
  box-shadow: 5px 5px 5px black;
  /* transform: translateX(-5px); */
  /* transform: translateY(-5px); */
  transform: perspective(120px) translate3d(-3px, -5px, 7px);
}