body {
  height: 100%;
  margin:0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/beach.jpg');
}