
/* ============= For SummaryTabs.js =============== */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #16A283;
  border-color: rgb(212, 0, 255);
}

.nav-tabs {
  
  border-bottom: 1px solid rgb(81, 0, 97);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: rgb(81, 0, 97);
}
.nav-item {
  color: black;
}

.nav-item:hover {
  color: #975BD7;
  background: -webkit-linear-gradient(#b63db6, #0b00a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav {
  position: fixed;
  background-color: #81EED6;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.tab-para {
  background-repeat: no-repeat;
  background-color: #f7c5f7;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #f7c5f7, rgb(129, 238, 214) );
  padding: 0.5em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*===================================================*/

.jumbotron {
  background-color: rgba(224, 239, 245, 0.4);
  font-family: 'Audiowide', cursive;
  padding: 4rem 2rem 1rem 2rem;
}

.homepage-photo {
  float: right;
  top: -30px;
  border-radius: 20px;
  height: 300px;
  margin-left: 5px;
  position: relative;
  transition: opacity 1.8s;
}

@media screen and (max-width: 768px) {
  .homepage-photo {
   right: 20%
  }
}

@media screen and (max-width: 575px) {
  .homepage-photo {
   right: 0;
   top: 15px;
  }
}

.lead {
  font-size: 2em;
}
pre {
  font-family: 'Audiowide', cursive;
  font-size: 1.2em;
}


.container, .container-lg {
  /* background-image: linear-gradient(to top, rgba(255, 138, 0, 0.5) rgba(255, 231, 92, 0.5), rgba(129, 238, 214,0.5), rgba(129, 238, 214, 0.5)); */
  background: rgb(255,138,0);
  background: linear-gradient(0deg, rgba(255,138,0,0.8) 20%, rgba(255,231,92,0.8) 35%, rgba(129,238,214,0.8) 75%, rgba(129,238,214,0.8) 80%);
  padding:25px;
  margin-top: auto;
  border-radius: 20px;
  opacity: 0.95;
}

.index-container {
  /* background-image: linear-gradient(to top, rgba(255, 138, 0, 0.5) rgba(255, 231, 92, 0.5), rgba(129, 238, 214,0.5), rgba(129, 238, 214, 0.5)); */
  background: rgb(255,138,0);
  background: linear-gradient(0deg, rgba(255,138,0,0.5) 20%, rgba(255,231,92,0.5) 35%, rgba(129,238,214,0.5) 75%, rgba(129,238,214,0.5) 80%);
  padding:25px;
  /* margin-top: auto; */
  border-radius: 20px;
  opacity: 0.95;
}


.card {
  margin: 2em;
  background-color: rgba(217, 191, 238, .7);
}

/* top margin added to keep from overlap with navbar */
.nav-avoid {
  margin-top: 100px;
}



/* Added for container classes to keep from running into the bottom of the pages */
.bottom-space {
  margin-bottom: 40px;
}

.btn-primary {
  background-color: #16A283;
  border-color: #327D9A;
}

.btn-primary:hover {
  background-color: #356fc5;
}

/* Cards on home page. */
/* flex display keeps the cards from overlapping 
when the screen is reduced in width */
/* flex-wrap allows the boxes to stack as the window is resized. Center removes any space between them. */
/* justify-content:center keeps the cards centered as the screen is resized and the content wraps */
/* background-attachment:fixed makes for no top or bottom box edges on a small screen */


/* =============== portfolio section  =============== */
.box3, .box2, .box1 {
  height: 100%;
  margin: 1em;
  background-repeat: no-repeat;
  background-color: #F8C9F8;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #F8C9F8, #81EED6 );
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-all {
  border-radius: 15px;
  height: 100%;
  /* margin: 0.5em; */
  background-repeat: no-repeat;
  background-color: #F8C9F8;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #F8C9F8, #81EED6 );
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-gutters {
  margin-top: 1em;
}

.bottom-card-gutter {
  margin-bottom: 1em;
}

.box1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box3 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#portfolio {
  color : rgb(0, 0, 130)
}

.card-img-top:hover {
  box-shadow: 5px 5px 5px black;
  /* transform: translateX(-5px); */
  /* transform: translateY(-5px); */
  transform: perspective(120px) translate3d(-3px, -5px, 7px);
}

.project-list li {
  color:rgb(48, 40, 99)
}







.psychic-link, .card-link {
  color: #975BD7;
}

.psychic-link:hover, .card-link:hover {
  color: #975BD7;
  background: -webkit-linear-gradient(#b63db6, #0b00a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.psychic-link:visited, .card-link:visited {
  color: #117E66;
}

.carousel-inner {
  box-shadow: 2px 10px 18px;
}

#resume-pdf {
  height: 100%;
  width: 100%;
}

#resume-container {
  height: 100vh;
  width: auto;
}

/* Enable this code to change how box size is caluclated: */
/* html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
} */


/* Code that will make pictures in the carousel smaller: */
/*
.my-carousel-pic {
  scale: 50%;
  height: 25%;
}
*/
